#userprofile_avatar_container {
    border: solid 1px gray;
    margin-right: 10px;
}

#userprofile_avatar_container img {
    width: 120px;
    display: block;
}

#userprofile_avatar_container, #puserrofile_info_container {
    float: left;
}

#userprofile_title {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 15px;
}

.userprofile_user_attr_title {
    font-weight: bold;
    margin-right: 5px;
}

#userprofile_end {
    clear: both;
}
